#header{
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	--top-margin: 10px;
	border-bottom: 2.5px solid black;
}

#left{
	margin-top: var(--top-margin);
	margin-left: 10px;
}

#right{
	margin-top: var(--top-margin);
	margin-right: 10px;
	color: orange;
}