
body,html{
  margin:0;
  width: 100%;
  height: 100%;
}
.App,#root {
  width: 100%;
  height: 100%;
}

.router{
  width: 100%;
  height: 94.8%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.page{
  width: 100%;
  height: 100%;
}

#SummaryInfo{
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 100%;
}
#summaryLeft,#summaryRight{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#summaryLeft{
  flex-direction: column;
}

#userGreeting{
  font-size: 20px;
  height: 50%;
}

#orderID{
  color:#648ec8;
  text-decoration: underline;
}

#gradient{
  width: 50%;
  height: 50%;
}
#summaryStatus{
  font-size: 30px;
  background-color: white;
   background-image: linear-gradient(270deg, #ffffff, #648ec8, #e8094c);
   background-size: 100%;
   background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 #gradient {
    background: linear-gradient(270deg, #ffffff, #648ec8, #e8094c);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:59% 0%}
    50%{background-position:42% 100%}
    100%{background-position:59% 0%}
}

#dropdown{
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

#blankRollsNum{
  color: red
}

#link{
  color: black
}

#link>a{
  color:black;
}

#line{
  border: 1px solid grey;
}

@-moz-keyframes AnimationName {
    0%{background-position:59% 0%}
    50%{background-position:42% 100%}
    100%{background-position:59% 0%}
}
@keyframes AnimationName {
    0%{background-position:59% 0%}
    50%{background-position:42% 100%}
    100%{background-position:59% 0%}
}

@media only screen and (max-width: 1000px) {
  #SummaryInfo{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #summaryRight{
    visibility: hidden;
  }
} 

#gradients{
  width: 500px;
  height: 500px;
  background-color: #648ec8;
}